<!DOCTYPE html>
<html>
  <head>
    <title>What Yelp would've looked like if it sucked even more</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="navbar-container">
        <div class="navbar-element">
          <%= link_to "Home", root_path, class:"logo" %>
        </div>
        <div class="navbar-element">
          <%= link_to "Add Restaurant", new_restaurant_path, class:"button-primary" %>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer>
      <div class="footer-content">
        <h4>@made with <3 by Alonz</h4>
      </div>
    </footer>
  </body>
</html>
